.dataTime {
    display: flex;
    gap: 10px;
    align-items: center;
}
.dataTimeContainer {
    padding: 0 20px;
    text-align: center;
}
.timeContainer {
    font-weight: 800;
}
.dateContainer {
}
